.arrow{
    border-radius: 50%;
    background-color: #eb575712;
    padding: 11px;
}
.card-img-top{
    border-radius: 23px !important;
    height: 250px !important;
}
#spinner{
    height: 400px !important;
}